
<nav class="navbar navbar-light bg-dark ">
    <div class="container-fluid ">
      <a class="navbar-brand text-white" [routerLink]="['home']">Home</a>
      <a class="navbar-brand text-white" [routerLink]="['login']">Login</a>
      <a class="navbar-brand text-white" [routerLink]="['seller']">Seller</a>
      <a class="navbar-brand text-white" [routerLink]="['card']">Card</a>
      <!-- <a class="navbar-brand text-white" [routerLink]="['login']">Navbar</a>
      <a class="navbar-brand text-white" [routerLink]="['login']">Navbar</a> -->
      <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </nav>
