<div class="container-fluid">
    <div class="row  mt-5">
        <div class="col-md-4">
            <div class="card" *ngIf="!showLogin">
                <h5 class="card-header text-center">Sign-up</h5>
                <div class="card-body">
                    <form action="" [formGroup]="akshay">
                        <div class="form-grop">
                            <label for="" class="form-label">Name</label>
                            <input type="text" formControlName="Name" name="Name" placeholder="Enter Name"
                                class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">Enter Password</label>
                            <input type="text" formControlName="Password" name="enterPassword"
                                placeholder="Enter Password" class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">Email ID</label>
                            <input type="text" formControlName="Email" name="Email" placeholder="Email ID"
                                class="form-control" id="">
                        </div>
                        <button type="submit" class="btn btn-primary mt-3 form-control">Sign-Up</button>
                        <a type="submit" (click)="openLogin()"> Alredy Have Account?Click to login</a>
                    </form>
                </div>
            </div>           
        </div>
        <div class="col-md-6">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://d3nn873nee648n.cloudfront.net/900x600/16407/1-DY695115.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://d3nn873nee648n.cloudfront.net/900x600/19207/1-SM905406.jpg" class="d-block w-100" alt="...">
                  </div>
                  <div class="carousel-item">
                    <img src="https://d3nn873nee648n.cloudfront.net/900x600/14594/18-ER545732.jpg" class="d-block w-100" alt="...">
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row  mt-5">
        <div class="col-md-4">
            <div class="card" *ngIf="showLogin">
                <h5 class="card-header text-center">login</h5>
                <div class="card-body">
                    <form [formGroup]="akshay1">
                        <div class="form-group">
                            <label for="" class="form-label">Email</label>
                            <input type="text" formControlName="Email" name="Email" placeholder="Email"
                                class="form-control" id="">
                        </div>
                        <div class="form-group">
                            <label for="" class="form-label">Password</label>
                            <input type="text" formControlName="Password" name="Password" class="form-control"
                                placeholder="Password" id="">
                        </div>
                        <button type="submit" (click)="opensignup()"
                            class="btn btn-warning mt-3 form-control">Login</button>

                    </form>
                    
                </div>          
            </div>
        
        </div>
        
    </div> 
  
</div>
